.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 20%;

  .nav-con {
    display: flex;
    flex-direction: column;
    gap: .3rem;

  }

  .nav-items {
    display: flex;
    font-size: 1.2rem;
    gap: .3rem;
    width: max-content;
    @apply px-2 py-2 rounded-3xl;
    transition: background-color 150ms ease-in-out;

    > * {
      background-color: transparent ;
    }


    svg {
      width: 2rem;

      & + span {
        display: none;

        @media screen and (min-width: 860px) {
          display: initial;
        }
      }
    }

    &:hover {
      background-color: darken(white, 80);
    }


  }

  .tweet-button {
    display: block;
    width: 100%;
    background-color: dodgerblue ;

    &:hover {
      background-color: darken(dodgerblue, 10) ;
    }

    * {
      fill: white ;
      color: white ;

    }

    span {
      display: none;
    }

    @media all and (min-width: 860px) {
      svg {
        display: none;
      }
      span {
        display: block;
      }
    }
  }

  .user-button{
    :not(:first-child){
      display: none;

      @media screen and (min-width:860px) {
        display: initial;
      }
    }

  }

}





