.inner-list{
  svg{
    fill:#60a5fa !important;
    cursor:pointer;
    @apply w-5;
  }
}

.post-feeds{
  display:flex;
  flex-direction: column;
  .post{
    display:flex;
    .post-img-con{
      width:3rem;
    }
    .post-con{
      display: flex;
      flex-direction: column;
    }

  }

}