@tailwind base;
@tailwind components;
@tailwind utilities;
.indexpage {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;



  main {
    padding: 2rem 15%;
    justify-items: start;
    display: flex;
    order: 1;
    flex-direction: column;
    gap: 3rem;

    .login-signup{

      min-width: 19rem;
      max-width: 20rem;
      display: flex;
      @apply flex-col;
      @apply gap-3;

    }
  }

  .whats-happening {
    display: grid;
    order: 2;
    justify-content: center;
    align-items: center;
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
    background-size: cover;
    background-position: center;
    .twit-logo {
      fill: white;
      width: 300px;
    }

  }

  @media screen and (min-width: 60rem){
    flex-direction: row;

    .whats-happening{
      flex-grow: 7;
      order: 1;
    }
    main{
      padding: 2rem;
      order:2;
      flex-grow: 2;
    }

  }

}
.nav-b{
  flex-wrap: wrap;
  gap: .5rem;
  >*{
    cursor: pointer;
  }
}


.hr-s {
  height: 1px;
}

.signup-wpe {
}
