.twitter-page.dark {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white ;

  svg{
    fill: white;
  }
  &>* {
    background-color: inherit;
    color: inherit;

  }
}

.twitter-page.light {
  width: 100%;
  background-color: white;
  color: black;

  * {
    background-color: inherit;
    color: inherit;
  }
  svg{
    fill:black
  }

}
